<!--<div class="d-flex justify-content-between align-items-center flex-wrap grid-margin">-->
<!--  <div>-->
<!--    <h4 class="mb-3 mb-md-0">Welcome to Leaderboard</h4>-->
<!--  </div>-->

<!--</div>-->

<div class="row">
  <div class="col-12 col-xl-12 stretch-card">
    <div class="row flex-grow">
      <div class="col-md-4 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <div class="d-flex justify-content-between align-items-baseline">
              <h6 class="card-title mb-0">TOTAL ACTIVE POOLS VALUE</h6>
            </div>
            <div class="row" style="margin-top: 5px;">
              <div class="col-12 col-xl-12">
                <div *ngIf="totalValue.length === 0" class="spinner-border spinner-border-sm" role="status">
                  <span class="sr-only">Loading...</span>
                </div>
                <h3 style="color: rgb(80, 227, 194);" class="mb-2">{{totalValue}}</h3>
                <div class="d-flex align-items-baseline">
                  <p class="text-secondary">
                    <i data-feather="clock" appFeatherIcon class="icon-sm mb-1"></i>
                    <span>{{loadedTime}}</span>

                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <div class="d-flex justify-content-between align-items-baseline">
              <h6 class="card-title mb-0">TOTAL MEMBERS</h6>
            </div>
            <div class="row" style="margin-top: 5px;">
              <div class="col-12 col-xl-12">
                <div *ngIf="userCount.length === 0" class="spinner-border spinner-border-sm" role="status">
                  <span class="sr-only">Loading...</span>
                </div>
                <h3 class="mb-2">{{userCount}}</h3>
                <div class="d-flex align-items-baseline">
                  <p class="text-secondary">
                    <i data-feather="clock" appFeatherIcon class="icon-sm mb-1"></i>
                    <span>{{loadedTime}}</span>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <div class="d-flex justify-content-between align-items-baseline">
              <h6 class="card-title mb-0">UPDATED AT HEIGHT</h6>
            </div>
            <div class="row" style="margin-top: 5px;">
            <div class="col-12 col-xl-12">
              <div *ngIf="height.length === 0" class="spinner-border spinner-border-sm" role="status">
                <span class="sr-only">Loading...</span>
              </div>
                <h3 class="mb-2">{{height}}</h3>
                <div class="d-flex align-items-baseline">
                  <p class="text-secondary">
                    <i data-feather="clock" appFeatherIcon class="icon-sm mb-1"></i>
                    <span>{{loadedTime}}</span>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> <!-- row -->
<div class="row">
  <div class="col-12 col-xl-12 grid-margin stretch-card">
    <div class="card overflow-hidden">
      <div class="card-body">
        <div class="d-flex justify-content-between align-items-baseline mb-4 mb-md-3">
          <h6 class="card-title mb-0">{{ "Average LP vs HODL APY per pool" | uppercase }} </h6>

        </div>
        <div class="row align-items-start mb-2">
          <div class="col-md-7">
            <p class="text-secondary tx-14 mb-3 mb-md-0">
              Average per pools of Current >= $1k after 14 days or more.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> <!-- row -->
<div class="row">
  <div class="col-12 col-xl-12 stretch-card">
    <div class="row flex-grow">
      <ng-container *ngFor="let pool of poolAverage let i=index">
        <div class="col-md-3 col-6 grid-margin">
          <div class="card">

            <div class="card-body" style="text-align: center">
              <div style="margin-bottom: 10px;">
                <img src="{{imageServer.getImage(pool.pool)}}" style="width: 45px; height: 45px">
              </div>
              <div>
                <h6 style="color: rgb(80, 227, 194);" class="card-title mb-0">{{imageServer.getAssetName(pool.pool)}}</h6>
              </div>
              <div class="row" style="margin-top: 5px;">
                <div class="col-12 col-xl-12">
                  <span class="text-secondary">AVG. LP vs HODL</span>
                  <h4 class="mb-2">{{formatLPVsHODl(pool)}}</h4>
                  <span class="text-secondary">AVG. LP vs HODL APY</span>
                  <h4 class="mb-2">{{computAPYAvg(pool)}}</h4>

                  <div class="align-items-center">
                    <p>
                      <i data-feather="calendar" appFeatherIcon class="icon-sm mb-1"></i>
                      <span>{{pool.days}} Avg. days</span>
<!--                      {{pool.days}}-->
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-container>

    </div>
  </div>
</div> <!-- row -->

<div class="row">
  <div class="col-12 col-xl-12 grid-margin stretch-card">
    <div class="card overflow-hidden">
      <div class="card-body">
        <div class="d-flex justify-content-between align-items-baseline mb-4 mb-md-3">
          <h6 class="card-title mb-0">{{ "Leaderboard" | uppercase }} </h6>

        </div>
        <div class="row align-items-start mb-2">
          <div class="col-md-7">
            <p class="text-secondary tx-14 mb-3 mb-md-0">
              Table only shows the latest stats of Current >= $1k after 14 days or more.
            </p>
          </div>
        </div>
        <div class="flot-wrapper" style="margin-top: 10px;">
          <ag-grid-angular
            #agGrid
            style="width: 100%; height: calc(100vh - 150px);"
            class="ag-theme-alpine-dark"
            [rowData]="rowData"
            [columnDefs]="columnDefs"
            [pagination]="true"
            [animateRows]="true"
            rowSelection="single"
            (selectionChanged)="onSelectionChanged($event)"
            (gridReady)="onGridReady($event)"
            [paginationAutoPageSize]="true"
          >
          </ag-grid-angular>
        </div>
      </div>
    </div>
  </div>
</div> <!-- row -->

