<div class="horizontal-menu">
  <nav class="navbar top-navbar">
    <div class="container">
      <div class="navbar-content">

        <!--- Logo -->
<!--        <a routerLink="/" class="navbar-brand">-->
<!--          <span>Leaderboard</span>-->
<!--        </a>-->
<!--        <img class="navbar-brand" style="width: 20px; height: 20px;"-->
<!--             width="30"-->
<!--             alt="THORChain Logo"-->
<!--             src="https://cryptologos.cc/logos/thorchain-rune-logo.svg?v=007"-->
<!--        />-->
<!--        <span> <h3 class="navbar-brand text-primary">Leaderboard</h3></span>-->
        <div class="navbar-brand" role="banner">
          <img style="width: 25px; height: 25px;"
               width="30"
               alt="THORChain Logo"
               src="https://cryptologos.cc/logos/thorchain-rune-logo.svg?v=007"
          />
          <span style="margin-left: 10px;"> <h4>Leaderboard</h4></span>
          <div class="spacer"></div>
        </div>
        <ul class="navbar-nav">
          <li class="nav-item " >
<!--            <span class="font-weight-medium ml-1 mr-1  d-md-inline-block">English</span>-->
            <a class="nav-link"  target="_blank"  href="https://intro.runestake.info" [routerLinkActive]="['active']" >RUNEStake.info</a>
          </li>
        </ul>

<!--        <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" (click)="toggleHeaderMenu()">-->
<!--          <i data-feather="menu"></i>-->
<!--        </button>-->

      </div>
    </div>
  </nav>

<!--	<nav class="bottom-navbar">-->
<!--		<div class="container">-->

<!--      &lt;!&ndash;- Menu &ndash;&gt;-->
<!--			<ul class="nav page-navigation">-->
<!--        <ng-container *ngFor="let item of menuItems">-->

<!--          <li class="nav-item" [routerLinkActive]="['active']" *ngIf="!item.isMegaMenu">-->
<!--            <a class="nav-link" [routerLink]="item.link" *ngIf="!hasItems(item)">-->
<!--              <i class="link-icon" [attr.data-feather]="item.icon" appFeatherIcon *ngIf="item.icon"></i>-->
<!--              <span class="menu-title">{{ item.label }}</span>-->
<!--            </a>-->
<!--            <a href="javascript:void(0);" class="nav-link" *ngIf="hasItems(item)">-->
<!--              <i class="link-icon" [attr.data-feather]="item.icon" appFeatherIcon *ngIf="item.icon"></i>-->
<!--              <span class="menu-title">{{ item.label }}</span>-->
<!--              <i class="link-arrow"></i>-->
<!--            </a>-->
<!--            <div class="submenu" *ngIf="hasItems(item)">-->

<!--              <ul class="submenu-item" *ngFor="let subMenu of item.subMenus">-->
<!--                <ng-container *ngFor="let subMenuItem of subMenu.subMenuItems">-->
<!--                  <li class="category-heading" *ngIf="subMenuItem.isTitle">{{ subMenuItem.label }}</li>-->

<!--                  <li class="nav-item" *ngIf="!subMenuItem.isTitle">-->
<!--                    <a class="nav-link" [routerLinkActive]="['active']" [routerLink]="subMenuItem.link">{{ subMenuItem.label }}</a>-->
<!--                    <span class="badge badge-{{subMenuItem.badge.variant}}" *ngIf="subMenuItem.badge">{{subMenuItem.badge.text}}</span>-->
<!--                  </li>-->
<!--                </ng-container>-->
<!--              </ul>-->

<!--            </div>-->
<!--          </li>-->

<!--          <li class="nav-item mega-menu" [routerLinkActive]="['active']" *ngIf="item.isMegaMenu">-->
<!--            <a href="javascript:void(0);" class="nav-link">-->
<!--              <i class="link-icon" [attr.data-feather]="item.icon" appFeatherIcon *ngIf="item.icon"></i>-->
<!--              <span class="menu-title">{{ item.label }}</span>-->
<!--              <i class="link-arrow"></i>-->
<!--            </a>-->
<!--            <div class="submenu">-->
<!--              <div class="row">-->
<!--                <div class="col-md-3" *ngFor="let subMenu of item.subMenus">-->
<!--                  <ul class="submenu-item">-->
<!--                    <ng-container *ngFor="let subMenuItem of subMenu.subMenuItems">-->

<!--                      <li class="category-heading" *ngIf="subMenuItem.isTitle">{{ subMenuItem.label }}</li>-->

<!--                      <li class="nav-item" *ngIf="!subMenuItem.isTitle">-->
<!--                        <a class="nav-link" [routerLinkActive]="['active']" [routerLink]="subMenuItem.link">{{ subMenuItem.label }}</a>-->
<!--                      </li>-->

<!--                    </ng-container>-->
<!--                  </ul>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </li>-->
<!--        </ng-container>-->

<!--				<li class="nav-item">-->
<!--					<a href="https://www.nobleui.com/angular/documentation/docs.html" target="_blank" class="nav-link">-->
<!--						<i class="link-icon" data-feather="hash"></i>-->
<!--						<span class="menu-title">Documentation</span></a>-->
<!--				</li>-->
<!--			</ul>-->
<!--		</div>-->
<!--	</nav>-->
</div>
