<footer class="footer align-items-center">
  <p class="text-muted text-center">Made with ⚡ @2020</p>
  <p class="text-muted text-center" style="margin-top: 10px;">
    <a aria-label="Gitlab" target="_blank" rel="noopener" href="https://gitlab.com/bigboss2/leader-board" title="GitLab">
      <i class="feather icon-gitlab"></i>
    </a>
  </p>
</footer>
