/* You can add global styles to this file, and also import other style files */
@import "../node_modules/ag-grid-community/dist/styles/ag-grid.css";
@import "../node_modules/ag-grid-community/dist/styles/ag-theme-alpine-dark.css";
// Template variables
//@import './assets/scss/variables';
.ag-theme-alpine-dark {
  /* use theme parameters where possible */
  --ag-foreground-color: white;
  --ag-background-color: rgb(15, 25, 33);
  --ag-odd-row-background-color: rgb(24, 32, 39);
  --ag-control-panel-background-color: rgb(24, 32, 39);
  --ag-header-background-color: rgb(24, 32, 39);
  --ag-border-color: rgb(65, 75, 84);
}
.ag-theme-alpine-dark {
  font-family: 'Overpass', sans-serif;
}

.ag-header-cell.text-center {
  .ag-header-cell-label {
    justify-content: center !important;
  }
}

.ag-header-icon.ag-header-cell-menu-button {
  opacity: 1 !important;
}
